<div class="table-container">
  <table class="custom-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Sitio web</th>
        <th>Dirección</th>
        <th>Año de fundación</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies; let i = index" (click)="openDetailedCard(i)" tabindex="0">
        <td>{{ company.login }}</td>
        <td>{{ company.email }}</td>
        <td><a [href]="company.url" target="_blank">{{ company.url }}</a></td>
        <td>{{ company.address }}</td>
        <td>{{ company.foundedDate }}</td>
      </tr>
    </tbody>
  </table>
</div>
<app-detailed-card
  [isVisible]="showDetailedCard"
  [data]="detailedCardData"
  [currentIndex]="currentDetailIndex"
  [showNavigation]="true"
  [cardType]="'offer'"
  (onClose)="closeDetailedCard()"
  (onAction)="onDetailedCardAction($event)">
</app-detailed-card>

