  <h2 class="page-title">
        <mat-icon>admin_panel_settings</mat-icon>
        Empresas
      </h2>
<div class="companies-table-container">
  <table class="custom-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Sitio web</th>
        <th>Dirección</th>
        <th>Año de fundación</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies" class="company-row" routerLink="/company/profile/{{company.name}}">
        <td>{{ company.name.charAt(0).toUpperCase() + company.name.substring(1) }}</td>
        <td>{{ company.email }}</td>
        <td>
          <a [href]="company.url" target="_blank" (click)="$event.stopPropagation()">
            {{ company.url }}
          </a>
        </td>
        <td>{{ company.address }}</td>
        <td>{{ company.foundedDate | date:'yyyy' }}</td>
        <td><button mat-icon-button (click)="deleteCompany(company)" (click)="$event.stopPropagation()">
            <mat-icon>delete</mat-icon>
          </button></td>
      </tr>
    </tbody>
  </table>
</div>

<button mat-fab class="add-company" aria-label="Añadir empresa"  routerLink="/company/new/" (click)="addCompany()" >
  <mat-icon>add</mat-icon>
</button>
<div class="loading-container" *ngIf="isLoading">
  <mat-spinner color="primary" diameter="50"></mat-spinner>
  <p>Cargando empresas...</p>
</div>
