<mat-toolbar color="primary">
  <div class="menu">
    <button mat-raised-button color="primary" routerLink="../register">
      <mat-icon>local_offer</mat-icon> <span>Ofertas</span>
    </button>

    <button mat-raised-button color="primary" routerLink="../publish-offer">
      <mat-icon>add_circle</mat-icon> <span>Publicar ofertas</span>
    </button>

    <button mat-raised-button color="primary" routerLink="../company-panel">
      <mat-icon>work</mat-icon> <span>Panel de empresa</span>
    </button>
  </div>

  <span class="toolbar-spacer"></span>
  <img src="https://media.timtul.com/media/web_clustertic/logo-clustertic_20190412075104.png" alt="Logo">
</mat-toolbar>
