<div>
  <div [class.details]="!isDisabled">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ offer?.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="applieStatus" *ngIf="offer?.isValid == 'PENDING'">
          <mat-icon class="pending-icon">hourglass_empty</mat-icon>
          <span class="pending">Pendiente</span>
        </div>
        <div class="applieStatus" *ngIf="offer?.isValid == 'VALID'">
          <mat-icon class="check-icon">check</mat-icon>
          <span class="valid">Validada</span>
        </div>
        <div class="applieStatus" *ngIf="offer?.isValid == 'INVALID'">
          <mat-icon class="invalid-icon">close</mat-icon>
          <span class="invalid">Rechazada</span>
        </div>
        <div *ngIf="offer?.tags?.length" class="tags-container">
          <mat-chip-listbox class="tags-display">
            <mat-chip *ngFor="let tag of getFirstThreeTags()" [removable]="false" class="chip">
              {{ tag.name || tag }}
            </mat-chip>
          </mat-chip-listbox>
        </div>
        <p class="data-offer">{{ offer?.dateAdded }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>