mat-card-title {
  max-height: 100px;
  color: var(--primary-color);
  font-size: 1.2rem;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}


mat-card-subtitle {
  color: var(--secondary-color);
  font-size: 0.7rem;
  margin-left: 16px;
}

mat-card-content {
  margin: 1rem 0;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  padding: 8px 0;
  margin: 0;
}

.applyOffer {
  min-width: 120px;
  padding: 8px 24px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.applyOffer:hover {
  background-color: var(--primary-color);
  color: white;
}
div {
  position: relative;
  width: 100%;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 1;
}

div.details {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(30, 30, 30, 0.55);
  backdrop-filter: blur(6px) brightness(0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  z-index: 9999;
  animation: fadeIn 0.4s forwards;
}


mat-card {
  align-self: center;
  width: 100%;
  min-height: 200px;
  margin: 16px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  cursor: pointer;
  p {
    text-align: justify;
  }
  .data-offer{
    font-size: 0.7rem;
    margin-top: 12px;
    align-self: flex-start;
  }
  transform-origin: center;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.62, 1.275);
}

mat-card:hover {
  scale: 1.05;
  background-color: white;
  transition: scale 0.3s ease-in-out;
}

div.details mat-card {
  width: fit-content;
  max-width: 70%;
  min-width: 40%;
  background-color: white;
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: popIn 0.4s forwards;
}

div.details mat-card:hover {
  scale: 1;
}


@keyframes popIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    background: rgba(30, 30, 30, 0);
    backdrop-filter: blur(0) brightness(1);
  }
  to {
    background: rgba(30, 30, 30, 0.55);
    backdrop-filter: blur(6px) brightness(0.9);
  }
}


