
<div class="login-container">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="login-box">
    <div class="login-img">
      <img src="https://media.timtul.com/media/web_clustertic/logo-clustertic_20190412075104.png" alt="Logo" routerLink="/offers/portal">
    </div>
  <mat-card class="formdata">

    <h2>Iniciar Sesión</h2>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Nombre de usuario" [formControl]="name" required>
        <mat-error *ngIf="name.invalid || name.value === ''  ">{{ getnameErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>
    <br>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Ingresa tu contraseña</mat-label>
        <input matInput type="password" placeholder="Contraseña" [formControl]="password" required>
        <mat-error *ngIf="password.invalid || password.value === '' ">{{ getPasswordErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>
    <br>

    <div class="form-actions">
      <button mat-raised-button color="warn" type="submit" [disabled]="!formValid()">Iniciar sesión</button>
      <button mat-raised-button color="primary" type="reset">Cancelar</button>
    </div>
    <br>
    <div class="register-section">
      <p>¿Aún no tienes cuenta?
        <a routerLink="../register" class="login-link animated-hover"> Regístrate </a>
      </p>
    </div>
  </mat-card>
    <mat-progress-bar *ngIf="isLoading" mode="query"></mat-progress-bar>
  </div>

</form>

</div>

