.login-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}

.login-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #3e3e3e;
  border-radius: 10px;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),
              0px 4px 5px 0px rgba(0,0,0,0.14),
              0px 1.5px 10px 0px rgba(0,0,0,0.12);
  margin-top: 40px;
}

.login-box img {
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
  padding: 20px;
  max-width: 300px;
  cursor: pointer;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  place-self: center;
  place-content: center;
}

.formdata {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;

  h2 {
    padding: 5px;
    color: var(--primary-color);
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin: 1.5rem;
  }
}

.formdata ::ng-deep mat-form-field,
.formdata ::ng-deep .mat-mdc-text-field-wrapper {
  min-width: auto;
  width: 400px;
}

.form-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 1rem;
}

.register-section {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  margin-top: 16px;
}
.register-section a {
  color: var(--secondary-color);
  text-decoration: none;
}
.register-section a:hover {
  cursor: pointer;
  color: var(--primary-color);
  transition: color 0.3s ease, background-color 0.3s ease;
}
