<body>
  <div class="content">
    <app-header [drawer]="drawer"></app-header>
    <mat-drawer-container autosize>
      <mat-drawer #drawer mode="side">
        <div class="nav-item" *ngIf="isCandidate" routerLink="../user">
          <mat-icon>person</mat-icon>
          <span>Perfil Profesional</span>
        </div>
        <div class="nav-item" *ngIf="isCandidate" routerLink="../offers/portal">
          <mat-icon>work</mat-icon>
          <span>Empleos</span>
        </div>
        <div class="nav-item" *ngIf="isCompany" routerLink="../company/myoffers">
          <mat-icon>business_center</mat-icon>
          <span>Vacantes</span>
        </div>
        <div class="nav-item" *ngIf="isCompany" routerLink="../company/Cinfo">
          <mat-icon>add_add</mat-icon>
          <span>Añadir Ofertas</span>
        </div>
        <div class="nav-item" *ngIf="isAdmin" routerLink="../admin/admin">
          <mat-icon>admin_panel_settings</mat-icon>
          <span>Panel Administrador</span>
        </div>
        <div class="nav-item" *ngIf="isAdmin" routerLink="../offers/portal">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </div>
      </mat-drawer>
        <div [@fadeAnimation]="getRouterOutletState(outlet)" (click)="drawer.close()" class="main"><router-outlet
            #outlet="outlet"></router-outlet></div>
        <app-footer></app-footer>
    </mat-drawer-container>
  </div>
</body>
