<body [ngClass]="{ 'login-bg': !showHeader }">
  <div class="content">
    <app-header *ngIf="showHeader" [drawer]="drawer"></app-header>
    <mat-drawer-container autosize>
      <mat-drawer #drawer mode="side">
        <div class="nav-item" *ngIf="isAdmin" routerLink="../offers/portal" (click)="drawer.close()">
          <mat-icon>home</mat-icon>
          <span>Inicio</span>
        </div>
        <div class="nav-item" *ngIf="isCandidate" routerLink="../user" (click)="drawer.close()">
          <mat-icon>person</mat-icon>
          <span>Perfil Profesional</span>
        </div>
        <div class="nav-item" *ngIf="isCandidate" routerLink="../offers/portal" (click)="drawer.close()">
          <mat-icon>work</mat-icon>
          <span>Empleos</span>
        </div>
        <div class="nav-item" *ngIf="isCompany" routerLink="../company/myoffers" (click)="drawer.close()">
          <mat-icon>business_center</mat-icon>
          <span>Vacantes</span>
        </div>
        <div class="nav-item" *ngIf="isCompany" (click)="navigateToAddOffer(); drawer.close()">
          <mat-icon>add_add</mat-icon>
          <span>Añadir Ofertas</span>
        </div>
        <div class="nav-item" *ngIf="isAdmin" routerLink="../admin" (click)="drawer.close()">
          <mat-icon>admin_panel_settings</mat-icon>
          <span>Panel Administrador</span>
        </div>
        <div class="nav-item" *ngIf="isAdmin" routerLink="../admin/dashboard" (click)="drawer.close()">
          <mat-icon>analytics</mat-icon>
          <span>Dashboard</span>
        </div>

      </mat-drawer>
        <div [@fadeAnimation]="getRouterOutletState(outlet)" (click)="drawer.close()" class="main"><router-outlet
            #outlet="outlet"></router-outlet></div>
        <app-footer *ngIf="showFooter"></app-footer>
    </mat-drawer-container>
  </div>
</body>
