<body>
  <div class="content">
    <app-header [drawer]="drawer"></app-header>
    <mat-drawer-container autosize>
      <mat-drawer #drawer mode="side">
        <div class="nav-item" *ngIf="isCandidate" routerLink="../user">
          <mat-icon>person</mat-icon>
          <span>Perfil Profesional</span>
        </div>
        <div class="nav-item" *ngIf="isCandidate" routerLink="../offers/portal">
          <mat-icon>work</mat-icon>
          <span>Empleos</span>
        </div>
        <div class="nav-item" *ngIf="isCompany" routerLink="../company/myoffers">
          <mat-icon>business_center</mat-icon>
          <span>Mis ofertas</span>
        </div>
        <div class="nav-item" *ngIf="isCompany" routerLink="../company/addOffer">
          <mat-icon>post_add</mat-icon>
          <span>Añadir oferta</span>
        </div>
      </mat-drawer>
        <div [@fadeAnimation]="getRouterOutletState(outlet)" (click)="drawer.close()" class="main"><router-outlet
            #outlet="outlet"></router-outlet></div>
        <app-footer></app-footer>
    </mat-drawer-container>
  </div>
</body>