.content {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 75px minmax(auto, 100%) 0;
  grid-template-columns: 0 1fr;
  grid-template-areas:
    "header header"
    "mat-drawer-container main";
  background: transparent
}

app-header {
  grid-area: header;
}

mat-drawer-container {
  grid-area: main;
  background: transparent;
}


app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

mat-drawer {
  background: #3e3e3e
}

router-outlet {
  align-self: center;
  display: block;
  width: 100%;
  height: 100%;
}

.main{
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 16px;
  margin: 8px;
  cursor: pointer;
  border-radius: 5px;
  color: #ffffff;
  transition: all 0.3s ease;
}

.nav-item:hover {
  margin-block: 15px;
  scale: 1.05;
  color: var(--primary-color);
  background: rgb(255, 255, 255);
}
