<input type="text" placeholder="Buscar..." [(ngModel)]="searchTerm"
  (ngModelChange)="filterOffers()"
class="search-input">
<div class="grid-container">
  <app-offer-card
    *ngFor="let offer of filterOffers(); let i = index"
    [offer]="offer"
    (click)="openDetailedCard(i)">
  </app-offer-card>
</div>
<app-detailed-card
  [isVisible]="showDetailedCard"
  [data]="detailedCardData"
  [currentIndex]="currentDetailIndex"
  [showNavigation]="true"
  [cardType]="'offer'"
  [availableTags]="availableTags"
  (onClose)="closeDetailedCard()"
  (onAction)="onDetailedCardAction($event)"
  (onSave)="onDetailedCardSave($event)">
</app-detailed-card>
