mat-card-title {
  color: var(--primary-color);
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 1.4rem;
}

mat-card {
  max-width: 300px;
  max-height: 400px;
  margin: 16px auto;
  border-radius: 10px;
  box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.52);
  padding: 10px;
  transition: scale 0.1s ease-in-out;
}

mat-card:hover {
  scale: 1.02;
  transition: scale 0.1s ease-in-out;
}

 mat-card-actions {
      display: flex;
      gap: 16px;
      align-items: center;
}

mat-raised-button {
  display: flex;
  justify-content: center;
}

.applyOffer {
  background-color: var(--background-hover-color);
  cursor: pointer;
}

.applyOffer:hover {
  background-color: var(--primary-color);
  color: #fff;
}

