mat-card-title {
  color: var(--primary-color);
}

mat-card {
    max-width: 300px;
    max-height: 400px;
    margin: 16px auto;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

 mat-card-actions {
      display: flex;
      gap: 16px; 
      align-items: center;
}

mat-raised-button{
  display: flex;
  justify-content: center;
}

.applyOffer{
  background-color: var(--background-hover-color);
  cursor: pointer;
}

.applyOffer:hover {
  background-color: var(--primary-color);
  color: #fff;
}
