mat-toolbar {
  top: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-height: 58px;
  height: auto;
  width: auto;
  object-fit: contain;
}

.logout-button{
  margin-left: 0;
  margin-right: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.enlaceEmpresa {
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 5px;
  padding: 7px;
  margin-left: auto;
  margin-right: 10px;
  font-weight: 560;
  transition: font-weight 0.3s ease, background 0.3s ease, color 0.3s ease
              , scale 0.3s ease;
}

.enlaceEmpresa:hover {
  color: var(--primary-color);
  scale: 1.05;
  background: rgb(255, 255, 255);
}

