<mat-toolbar color="primary">

  <button mat-icon-button routerLink="/offers/portal">
    <mat-icon>home</mat-icon>
  </button>

  <img src="https://media.timtul.com/media/web_clustertic/logo-clustertic_20190412075104.png" alt="Logo">



  <button mat-icon-button *ngIf="authService.isLoggedIn()" routerLink="/offers/portal"  (click)="authService.logout()" class="logout-button">
    <mat-icon >logout</mat-icon>
  </button>
  <button mat-icon-button *ngIf="!authService.isLoggedIn()" routerLink="/login" class="logout-button">
    <mat-icon>account_circle</mat-icon>
  </button>
  <a class="enlaceEmpresa" href="company/login">Empresas</a>


</mat-toolbar>
