.custom-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-family: 'Rubik', sans-serif;
    background-color: #fff;
    padding: 0;
}

thead th {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 600;
    padding: 1rem;
    text-align: center;
    border-left: 6px solid var(--primary-color);
}
.sortable-header {
    cursor: pointer;
    user-select: none;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.sort-icon {
    font-size: 18px;
    width: 18px ;
    height: 18px;
    transition: transform 0.3s ease;
}


tbody td {
    margin: 0;
    padding: 1rem;
    color: var(--text-color);
    vertical-align: middle;
    text-align: center;
    font-size: 1rem;
    min-height: 80px;
    transition: color 0.3s ease, border-left 0.3s ease, padding-block 0.3s ease;
}

tbody tr.validated {
    background-color: #e0f7e9;
    >td:first-child {
        border-left: 6px solid #39b43d;
    }
}

tbody tr.rejected {
    background-color: #ffebee;

    >td:first-child {
        border-left: 6px solid #f44336;
        transition: border-left 0.3s ease;
    }
}

tbody tr {
    cursor: pointer;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;

    :not(.validated):not(.rejected)>td:first-child {
        border-left: 6px solid transparent;
        transition: border-left 0.3s ease;
    }
}

tbody tr:hover {
    box-shadow: 0 2px 16px rgba(151, 151, 151, 0.648);

    >td {
        padding-block: 1.3rem;
        transition: padding-block 0.3s ease;
    }
}


a {
    color: var(--primary-color);
    text-decoration: none;
    word-break: break-all;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--important-text-color);
}

.actions {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 8px;
}

.check {
    background-color: transparent;
    color: green;
    transition: background-color 0.15s, color 0.15s;
}

.check:hover {
    background-color: green;
    color: white;
}

.check mat-icon {
    color: inherit;
}

.close {
    background-color: transparent;
    color: var(--primary-color);
    transition: background-color 0.15s, color 0.15s;
}

.close:hover {
    background-color: var(--primary-color);
    color: white;
}

.close mat-icon {
    color: inherit;
}

.undo {
    background-color: transparent;
    color: var(--primary-color);
    transition: background-color 0.15s, color 0.15s;
}

.undo:hover {
    background-color: var(--primary-color);
    color: white;
}

.undo mat-icon {
    color: inherit;
}