form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    place-self: center;
    display: grid;
    place-content: center;

}

.formdata {
    min-width: 300px;
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.15);
    background-color: #ffffff4b;
    padding: 30px;
    h2 {
        color: #9c0700;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
}

.form-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}


.login-link {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #9f9f9f;
    a {
        color: #000000;
        text-decoration: none;
        transition: color 0.3s ease, font-weight 0.3s ease;
    }
    transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
}

.login-link:hover {
    background-color: #ffffff00;
    cursor: pointer;
    a {
        color: #9c0700;
        font-weight: 600;
    }
}
