
<form [formGroup]="offersForm" (ngSubmit)="onSubmit()">

  <mat-card class="formdata">
    <h2 #formTitle>Ingresar Oferta, {{ companyName }} </h2>
    <div>
      <mat-form-field appearance ="outline">
        <mat-label>Titulo</mat-label>
        <input matInput placeholder="Titulo de la oferta" [formControl]="title" required>
        <mat-error *ngIf="title.invalid "></mat-error>
      </mat-form-field>
    </div>
    <br>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Descripcion</mat-label>
        <input matInput placeholder="Ingresa la descripcion" [formControl]="description" required>
        <mat-error *ngIf="description.invalid "></mat-error>
      </mat-form-field>
    </div>
    <br>

    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit" >Publicar</button>
      <button mat-raised-button color="warn" type="button" (click)="onReset()">Cancelar</button>
    </div>
  </mat-card>
</form>


