.register-container {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  place-self: center;
  place-content: center;
}

.formdata {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: none !important;
  background-color: rgba(255, 255, 255, 0);
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.formdata h2 {
  margin-top: 5px;
  color: var(--primary-color);
  letter-spacing: 1.4px;
  text-transform: uppercase;
  padding-bottom: 5px;
}


.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 20px;
  width: 100%;
  padding-bottom: 20px;
}


.form-actions {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form-actions button {
  width: 100px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.login-link {
  margin-bottom: 1.5rem;
  padding: 10px 20px;
  border-radius: 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.login-link:hover {
  background-color: var(--background-hover-color);
  cursor: pointer;
  color: var(--primary-color);
}

#confirmPasswordField {
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease;
}
#confirmPasswordField.hidden {
  opacity: 0;
  display: none;
}
.home-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.home-button mat-icon {
  margin: 0;
  line-height: 1;
}


mat-horizontal-stepper {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: fit-content;
  margin-top: 20px;
  border-radius: 10px;
}

::ng-deep .mat-step-header{
  position: relative;
  top:0;
  left:5%;
  height: 60px !important;
  padding-top: 10px;
}

::ng-deep .mat-step-header:hover {
 background-color: transparent !important;
}

::ng-deep .mat-step-header .mat-ripple-element {
  background-color: transparent !important;
}

::ng-deep .mat-step-header.mat-active,
::ng-deep .mat-step-header.cdk-focused,
::ng-deep .mat-step-header.cdk-program-focused {
  background: transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.step-footer {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.step-footer p {
  margin-bottom: 10px;
  margin-top: 10px;
}

